In [9]:
from Levenshtein import distance as dis

dis("Abcd Private Limited","ABCD PriVatE Limited")

5

In [10]:
from Levenshtein import ratio

ratio("Abcd Private Limited","ABCD PriVatE Limited")

0.75

In [12]:
import pandas as pd
df=pd.read_excel("company.xlsx")
df.head()

                    Company
0          Nestle India Ltd
1        Coal India Limited
2    Hindustan Unilever Ltd
3               ITC Limited
4  Britannia Industries Ltd

In [92]:
lis=list(df["Company"])
lis.append("soil india Limited")
lis

['Nestle India Ltd',
 'Coal India Limited',
 'Hindustan Unilever Ltd',
 'ITC Limited',
 'Britannia Industries Ltd',
 'Godrej Consumer Products Ltd',
 'Patanjali Ayurved Limited',
 'Dabur India Ltd',
 'Marico Limited',
 'Varun Beverages Ltd',
 'GlaxoSmithKline Consumer Healthcare Ltd',
 'soil india Limited']

In [80]:
def score(data):
    a=str(data)
    return ratio("GodrejConsumer",a)

In [81]:
for i in lis:
    print(score(i))

0.19999999999999996
0.3125
0.2222222222222222
0.24
0.21052631578947367
0.6666666666666667
0.20512820512820518
0.13793103448275867
0.2857142857142857
0.24242424242424243
0.41509433962264153
0.25

In [76]:
# first trying for sure match
# lower case (done)
# short form match
# n-grams match (considering first word only)
# no space all-in-one


def exact_match_check(comp_lis,comp):
    #lower and upper case match
    comp=comp.title()
    for i in comp_lis:
        i=i.title()
        
        #first case
        if i==comp:
            print(i,comp)
            return True
        
        
        
        #short Form Match
        
            
    return False

print(exact_match_check(lis,"Varun bEverages Ltd"))

Varun Beverages Ltd Varun Beverages Ltd
True

In [79]:
#short from match
for i in lis:
    spl=i.split(" ")
    print(spl)

['Nestle', 'India', 'Ltd']
['Coal', 'India', 'Limited']
['Hindustan', 'Unilever', 'Ltd']
['ITC', 'Limited']
['Britannia', 'Industries', 'Ltd']
['Godrej', 'Consumer', 'Products', 'Ltd']
['Patanjali', 'Ayurved', 'Limited']
['Dabur', 'India', 'Ltd']
['Marico', 'Limited']
['Varun', 'Beverages', 'Ltd']
['GlaxoSmithKline', 'Consumer', 'Healthcare', 'Ltd']
['soil', 'india', 'Limited']

In [65]:
for i in lis:
    i=i.title()
    company_split=i.split(" ")
    
    print(company_split)

India
India
Unilever
Limited
Industries
Consumer
Ayurved
India
Limited
Beverages
Consumer
India

In [95]:
#possible n-grams 

def n_grams(list_name):
    name_len=len(list_name)
    new_list=list()
    st=list_name[0]
    for i in range(name_len):
        new_list.append(st)
        if i<name_len-1:
            st=st+" "+list_name[i+1]
    return new_list




for a in lis:
    spl=a.split(" ")
    print(spl)
    print(n_grams(spl))

#print(list(combinations(a,2)))

['Nestle', 'India', 'Ltd']
['Nestle', 'Nestle India', 'Nestle India Ltd']
['Coal', 'India', 'Limited']
['Coal', 'Coal India', 'Coal India Limited']
['Hindustan', 'Unilever', 'Ltd']
['Hindustan', 'Hindustan Unilever', 'Hindustan Unilever Ltd']
['ITC', 'Limited']
['ITC', 'ITC Limited']
['Britannia', 'Industries', 'Ltd']
['Britannia', 'Britannia Industries', 'Britannia Industries Ltd']
['Godrej', 'Consumer', 'Products', 'Ltd']
['Godrej', 'Godrej Consumer', 'Godrej Consumer Products', 'Godrej Consumer Products Ltd']
['Patanjali', 'Ayurved', 'Limited']
['Patanjali', 'Patanjali Ayurved', 'Patanjali Ayurved Limited']
['Dabur', 'India', 'Ltd']
['Dabur', 'Dabur India', 'Dabur India Ltd']
['Marico', 'Limited']
['Marico', 'Marico Limited']
['Varun', 'Beverages', 'Ltd']
['Varun', 'Varun Beverages', 'Varun Beverages Ltd']
['GlaxoSmithKline', 'Consumer', 'Healthcare', 'Ltd']
['GlaxoSmithKline', 'GlaxoSmithKline Consumer', 'GlaxoSmithKline Consumer Healthcare', 'GlaxoSmithKline Consumer Healthcare Ltd']
['soil', 'india', 'Limited']
['soil', 'soil india', 'soil india Limited']

In [99]:
#short form function

a=["nestle","second","third","india","limited"]

for i in range(5):
    print(a[i][0])

n
s
t
i
l